<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("partials/nav.ejs") %>
    <h1><%= title %></h1>
    <p>Name: <%= user.name %>.</p>
    <p>Email: <%= user.email %>.</p>
    <% if (user.trackedSongs.length > 0) { %>
        <h2>Tracked Songs:</h2>
        <ul>
            <% user.trackedSongs.forEach(song => { %>
                <li><%= song %></li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No tracked songs.</p>
    <% } %>
    <% if (user.completedSongs.length > 0) { %>
        <h2>Completed Songs:</h2>
        <ul>
            <% user.completedSongs.forEach(song => { %>
                <li><%= song %></li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No completed songs.</p>
    <% } %>
</body>
</html>